<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="../../assets/img/about-1.png" class="img-fluid about-image" alt="Imagem sobre a Belleza Karapinha">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
        <div class="about-text">
          <h3>Belleza Karapinha</h3>
          <p class="about-description fst-italic">
            Sofisticação e Modernidade Unidas
          </p>
          <p class="about-description">
            No Belleza Karapinha, unimos sofisticação e modernidade com o talento dos melhores e mais experientes profissionais do setor. Nosso salão foi minuciosamente planejado e concebido para oferecer todos os serviços voltados à beleza e estética, tanto feminina quanto masculina.
          </p>
          <p class="about-description">
            Nossas instalações incluem salas estruturadas para noivas, serviços de estética especializada e espaços dedicados à maquiagem. Além disso, dispomos de um ambiente aconchegante onde todos podem desfrutar de lanches ou refeições saudáveis, preparadas carinhosamente para tornar sua experiência mais agradável.
          </p>
         
        </div>
      </div>
    </div>

  </div>
</section><!-- End About Section -->
