<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Conheça</h2>
      <p>Nosso Blog</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box blog-box">
          <img src="../../assets/img/blog/blog-1.webp" class="img-blog" alt="">
          <div class="blog-details">
            <h4><a href="">Controle do frizz: 8 estratégias para um cabelo sem arrepios</a></h4>
            <p>Publicado por Erika em 12 de abril de 2024</p>
            <a href="#about" class="ver-mais">Ler mais</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box blog-box">
          <img src="../../assets/img/blog/blog-2.jpg" class="img-blog" alt="">
          <div class="blog-details">
            <h4><a href="">Transição capilar: 7 dicas para começar essa transformação</a></h4>
            <p>Publicado por Erika em 12 de abril de 2024</p>
            <a href="#about" class="ver-mais">Ler mais</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box blog-box">
          <img src="../../assets/img/blog/blog-3.jpg" class="img-blog" alt="">
          <div class="blog-details">
            <h4><a href="">Como a alimentação influencia na saúde capilar</a></h4>
            <p>Publicado por Erika em 12 de abril de 2024</p>
            <a href="#about" class="ver-mais">Ler mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Services Section -->
