<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Nossos Serviços</h2>
      <p>Confira nossos serviços e preços</p>
    </div>

    <div class="row">
      <!-- Serviço 1: Cabeleireiro -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <img src="../../assets/img/cabelo.jpg" class="img-services" alt="">
          <h4><a href="">Cabeleireiro</a></h4>
          <p>Especializados em colorimetria, consultoria de imagem e técnica de visagismo. Corte, mechas, luzes, técnicas de alisamento e coloração: Oferecemos a orientação necessária para resultados surpreendentes para cada perfil.</p>
          <p><strong>Preço:</strong> A partir de Kz 50,00</p>
          <a href="#about" class="agendar">Agendar</a>
        </div>
      </div>

      <!-- Serviço 2: Dia da Noiva -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <img src="../../assets/img/noiva.jpg" class="img-services" alt="">
          <h4><a href="">Dia da Noiva</a></h4>
          <p>A noiva recebe todas as atenções com extrema dedicação. Programas carinhosamente preparados para sua escolha, executados no dia ou com antecedência, no local que escolher para esse dia tão especial.</p>
          <p><strong>Preço:</strong> A partir de Kz 300,00</p>
          <a href="#about" class="agendar">Agendar</a>
        </div>
      </div>

      <!-- Serviço 3: Maquiagem Profissional -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <img src="../../assets/img/maquiagem.webp" class="img-services" alt="">
          <h4><a href="">Maquiagem Profissional</a></h4>
          <p>Realizamos maquiagens para o dia a dia e ocasiões especiais, disponibilizando procedimentos como permanente e alongamento de cílios, design de sobrancelhas, maquiagem com a técnica de air brush, sempre seguindo as últimas tendências.</p>
          <p><strong>Preço:</strong> A partir de Kz 80,00</p>
          <a href="#about" class="agendar">Agendar</a>
        </div>
      </div>

      <!-- Serviço 4: Sobrancelha -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <img src="../../assets/img/Sobrancelha.jpg" class="img-services" alt="">
          <h4><a href="">Sobrancelha</a></h4>
          <p>Sobrancelhas bem feitas fazem toda diferença na harmonia da beleza natural. Nossa equipe é especialista em visagismo e realiza os procedimentos de Coloração e Depilação egípcia (método com linha), assim como Permanente e Tingimento de cílios.</p>
          <p><strong>Preço:</strong> A partir de Kz  30,00</p>
          <a href="#about" class="agendar">Agendar</a>
        </div>
      </div>

      <!-- Serviço 5: Manicure -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <img src="../../assets/img/manicure.jpeg" class="img-services" alt="">
          <h4><a href="">Manicure</a></h4>
          <p>Manicure, Pedicure, Unhas em gel, Unhas de fibra de vidro Slim, Podologia, Reflexologia.</p>
          <p><strong>Preço:</strong> A partir de Kz 20,00</p>
          <a href="#about" class="agendar">Agendar</a>
        </div>
      </div>

      <!-- Serviço 6: Barbearia -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <img src="../../assets/img/barber.jpg" class="img-services" alt="">
          <h4><a href="">Barbearia</a></h4>
          <p>Conforto e privacidade para o público masculino em um ambiente estilizado e de bom gosto para a realização de corte, tratamento facial e barba.</p>
          <p><strong>Preço:</strong> A partir de Kz          30,00</p>
          <a href="#about" class="agendar">Agendar</a>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Services Section -->

