<main id="main" class="main">

  <div class="pagetitle">
    <h1>Marcações</h1>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Solicitar Marcações</h5>

            <!-- General Form Elements -->
            <form class="formulario">

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Escolher Categoria</label>
                <div class="col-sm-10">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Abra o menu de seleção</option>
                    <option value="1">Cabelo</option>
                    <option value="2">Estética</option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Selecionar Serviço/Tratamento</label>
                <div class="col-sm-10">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Abra o menu de seleção</option>
                    <option value="1">Serviço 1</option>
                    <option value="2">Serviço 2</option>
                    <option value="3">Serviço 3</option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Escolher Profissional</label>
                <div class="col-sm-10">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Abra o menu de seleção</option>
                    <option value="1">Profissional 1</option>
                    <option value="2">Profissional 2</option>
                    <option value="3">Profissional 3</option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputDate" class="col-sm-2 col-form-label">Selecionar Data</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control">
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputTime" class="col-sm-2 col-form-label">Selecionar Hora</label>
                <div class="col-sm-10">
                  <input type="time" class="form-control">
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputTotalValue" class="col-sm-2 col-form-label">Valor Total a Pagar</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputTotalValue" placeholder="Kz 0,00">
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Confirmar Marcação</button>
                </div>
              </div>

            </form><!-- End General Form Elements -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->
